<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>dukkha</title>                             
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
	<link rel="stylesheet" type="text/css" href="/css/style.css" /> 
	<script type="text/javascript" src="http://jquery-ui.googlecode.com/svn/tags/1.7.2/jquery-1.3.2.js"></script>
	<script type="text/javascript" src="http://jquery-ui.googlecode.com/svn/tags/1.7.2/ui/ui.core.js"></script>
	<script type="text/javascript" src="http://jquery-ui.googlecode.com/svn/tags/1.7.2/ui/ui.draggable.js"></script>
</head>
                    
<!-- main/grid (table)/hgroup (row)/supercell (padding)/cell (table-cell)/inner-cell (image)/inner-text (text) -->
<body>
<div id="main">  
	
	<!-- grid is the table -->
	<div id="grid">
		<% @cells.each_with_index do |x,i| %>      
		
			<!-- the row -->
			<div class="hgroup">
				<% x.each_with_index do |y,j| %>      
					<% id = "sq-#{i}-#{j}" %>         
					
					<!-- the supercell is there for Firefox padding -->
					<div id="<%= id %>-supercell" class="supercell">
						<div id="<%= id %>" class="cell">  
							
							<!-- there was something in the config for this cell-->
					   		<% if y %>
								<!-- set the background, url and full brightness -->
								<script type="text/javascript">
									$("#<%= id %>").css('background', "url(<%= y.background %>) no-repeat");	
									$("#<%= id %>").click(function(){window.location = "<%= y.url %>";});
									$("#<%= id %>").attr('opacity', '1.0');						
								</script>   
							
							<!-- no config, reduce the brightness -->
							<% else %>
								<script type="text/javascript">
									$("#<%= id %>").attr('opacity', '0.4');							
								</script>
							<% end %>    
							
							<!-- we previously set the opacity as an attribute to the div 
							(which might not have been too XHTML legal). Now we grab that 
							attr and set the CSS accordingly -->
							<script type="text/javascript">
								$("#<%= id %>").css('opacity', $("#<%= id %>").attr('opacity'));							
							</script> 
							 
							<!-- inner cell is the image, if defined -->
							<div id="<%= id %>-inner" class="inner-cell">
								<% if y && y.image != "" %>
									<script type="text/javascript">
										$("#<%= id %>-inner").css('background', "url(<%= y.image %>) no-repeat");	
									</script>
								<% end %>          
								
								<!-- set the text (and color) if we have any -->
								<div class="inner-text">
									<% if y && y.text != "" %>
										<%= y.text %>
										<script type="text/javascript">
											$("#<%= id %>-inner").css('color', "<%= y.color %>");	
										</script>	  
										
									<!-- My CSS skills have always been poor, but this is a new low. Putting the 
									text into just some of the cells resulted in a messed up table. The quickest
									way I could think of fixing it was to put text in every cell and then hide 
									the ones I didn't want -->							
								  	<% else %>
										<div id="<%= id %>-inner-hidden">"hidden"</div>
											<script type="text/javascript">
												$("#<%= id %>-inner-hidden").css('opacity', '0');							
											</script> 
									<% end %>						
								</div> <!-- inner-text -->
							</div> <!-- inner-cell -->
						</div> <!-- cell -->
												
						<script type="text/javascript">
							$("#<%= id %>").mouseover(function() {
								$("#<%= id %>").css('opacity', '0.2');							
							});                        
						
							<!-- this is why we stored the opacity in the div attr -->
							$("#<%= id %>").mouseout(function() {
								$("#<%= id %>").css('opacity', $("#<%= id %>").attr('opacity'));							
							});	
						</script>     
					</div> <!-- supercell -->   
				<% end %> <!-- y loop --> 
			</div> <!-- hgroup -->
		<% end %> <!-- x loop -->
	</div>  <!-- grid -->
</div> <!-- main -->
</body>
</html>